.food-menu{
    width: 100%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-bottom: 30px;
}
.menu-images-con{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    align-items: center;
    gap: 15px;
}
.menu-images-con .menu-box{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.menu-box img{
    cursor: pointer;
    transition:  .6s;
    width: 70px;
    height: 70px;
}
.menu-box img:active{
    transform: rotate(50deg);
}
.menu-box .active{
    border: 5px solid green;
    border-radius: 50%;
}