.my_order{
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-right: auto;
    background-color: white;
}
.available_Order_Con{
    box-shadow: 0 0 5px black;
    padding: 20px;
    border-radius: 5px;
}