*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body{
  background-color: #1b1b1b;
  color: rgb(231, 231, 240);
}

h1, h2, h3, p, a{
  color: rgb(231, 231, 240);
}

html{
  scroll-behavior: smooth;
}