.navbar_con{
    width: 100%;
    z-index: 99;
    padding: 0 5%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
}
.navbar{
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.navbar .logo{
    color: white;
    font-size: 35px;
}
.navbar .menu ul{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.menu ul li{
    list-style: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.menu ul li hr{
    border: 2px solid;
    color: black;
    margin-top: 5px;
}
.cart-icon{
    position: relative;
}
.cart-icon .cart-icon-p{
    position: absolute;
    background-color: red;
    height: 15px;
    width: 15px;
    top: 0;
    border-radius: 50px;
    right: 0;
}
.login-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.login-section img{
    cursor: pointer;
    transition: .3s ease-in-out;
}
.login-section img:active{
    transform: scale(1.5);
}
.login-section button{
    font-size: 20px;
    background-color: transparent;
    border: 1px solid rgb(122, 117, 117);
    padding: 8px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    transition: .3s ;
}
.login-section button:active{
    background-color: red;
    color: white;
    border: 1px solid red;
}
.user_con{
    position: relative;
}
.user_con:hover ul{
    display: flex;
}
.user_con ul{
    position: absolute;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 5px;
    left: -20px;
    display: none;
    border-radius: 3px;
    z-index: 99;
}
.user_con ul li{
    list-style: none;
    cursor: pointer;
    padding: 5px;
    transition: .3s ease-in-out;
}
.user_con ul li:hover{
    background-color: tomato;
    
}

@media (max-width:700px){
    .navbar .logo{
        color: white;
        font-size: 25px;
    }
    .mobile_menu{
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 95px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        max-height: ;
        overflow: hidden;
        transition: .6s ease-in-out;
    }
    .mobile_menu ul{
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
    .mobile_menu ul li{
        color: green;
    }
}