.hero{
    width: 90%;
    margin: 30px auto;
    height: 34vw;
    background-image: url('../Asset/header_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    border-radius: 9px;
}
.hero-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.3vh;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
}
.hero-content h2{
    font-size: 50px;
    color: white;
    font-weight: 500;
}
.hero-content p{
    color: white;
    font-size: 20px;
}
.hero-content button{
    font-size: 20px;
    background-color: white;
    border: none;
    padding: 9px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    transition: .3s ;
}
.hero-content button:active{
    background-color: red;
    color: white;
}