.shop-product{
    width: 90%;
    margin: 30px auto;
}
.shop-product h1{
    font-size: 25px;
}
.product{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}