.shop-product{
    width: 90%;
    margin: 30px auto;
}
.shop-product h1{
    font-size: 25px;
}
.all_Product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    min-width: 250px;
    flex-basis: 20%;
    box-shadow:  0 0 10px black;
    border-radius: 5px;
    padding: 5px;
}
.item_img_con{
    overflow: hidden;
}
.item img{
    width: 100%;
    border-radius:5px 5px 0 0;
}
.item:hover .item-img{
    transform: scale(1.2);
}
.item-img{
    position: relative;
    transition: .7s ease-in-out;
}
.item-count{
    position: absolute;
    background-color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 160px;
    margin-left: 140px;
    padding: 5px;
    border-radius: 10px;
    transform: translateY(-20px);
    box-shadow: 0 0 30px black;
}
.item-count img{
    width: 30px;
}
.item-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.item-name h3{
    font-size: 18px;
}
.item-name img{
    width: 100px;
}
.price{
    font-weight: bold;
}
.count-img{
    cursor: pointer;
}

@media (max-width:700px){
    .item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
        min-width: 350px;
        flex-basis: 20%;
    }
    .item-count{
        margin-top: 230px;
        margin-left: 230px;
        padding: 5px;
        border-radius: 10px;
        transform: translateY(-20px);
    }
}
@media (max-width:400px){
    .item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
        min-width: 300px;
        flex-basis: 20%;
        padding: 10px;
    }
    .item-count{
        margin-top: 170px;
        margin-left: 180px;
        padding: 5px;
        border-radius: 10px;
        transform: translateY(-20px);
    }
}
