.shop-product{
    width: 90%;
    margin: 30px auto;
}
.shop-product h1{
    font-size: 25px;
}
.all_Product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    min-width: 250px;
    flex-basis: 20%;
}
.item img{
    width: 100%;
}
.item-img{
    position: relative;
}
.item-count{
    position: absolute;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 170px;
    margin-left: 150px;
    padding: 5px;
    border-radius: 10px;
    transform: translateY(-20px);
}
.item-count img{
    width: 30px;
}
.item-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.item-name h3{
    font-size: 18px;
}
.item-name img{
    width: 100px;
}
.price{
    font-weight: bold;
}
.count-img{
    cursor: pointer;
}
